<%include ../partials/header%>

<a href="/admin/index">Current Users</a>--><a href="/displayCar">Car Display</a>--><a href="/admin/coupon">Offers</a>

<h1>List of Users</h1>
<div class="row">
        <div class="col-md-8">
<table border="3px">
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Email</th>
        <th>Address</th>
        <th>DL</th>
        <th>Disable/Enable</th>
    </tr>
  
        <%user.forEach(function(user){%>
           <% if(user.username!='admin'){%>
            <tr>
            <th><%= user.name %></th>  
            <th><%= user.username %></th> 
            <th><%= user.gender %></th> 
            <th><%= user.dob %></th> 
            <th><%= user.email %></th> 
            <th><%= user.state %>,<%= user.city %><%= user.pin %></th>
            <th><img src="<%= user.dl %>">
                <form action="/admin/approve?_method=PUT" method="POST">
                    <%if(user.approval==true){%>
                        <button class="btn btn-success btn-xs" disabled>Approved</button>
                   <% }else{%>
                        <button class="btn btn-primary btn-xs">Approve</button>
                   <% }%>
                    <input type="text" name="userid"  style="display:none" value="<%=user._id%>">
                </form>
                </th> 
            <th>
                    <form action="/admin/disable?_method=PUT" method="POST">
                        <%if(user.disable==true){%>
                            <button class="btn btn-success ">Enable</button>
                       <% }else{%>
                            <button class="btn btn-primary ">Disable</button>
                       <% }%>
                        <input type="text" name="userid"  style="display:none" value="<%=user._id%>">
                    </form>
            </th>
            </tr>
            <%}})%>  


</table>
</div>
<div class="col-md-4">
<div>
    <h3>User Search</h3>
    <form action="/admin/index/search" method="POST">
     <input type="text" name="name">
     <button class="btn btn-primary btn-sm">Search</button>
    </form>
</div>
    <div>
        <h3>Select city</h3>
    <form action="/admin/index" method="POST">
       <% city.forEach(function(City){%>
      <div class="form-group">
        <input type="checkbox" name="city" value="<%=City%>"><%=City%>
        </div>
    <%});%>
        <button class="btn btn-primary">Done</button>
    </form>
    </div>
    </div>
    </div>
    

<%include ../partials/footer%>